.footerBar {
  width: 100%;
  background-color: #4d4d4d;
  min-height: 200px;
  padding: 10px 0px 25px 0px;
  font-family: system-ui;
  font-weight: semi-bold;
  min-height: 100px;
  color: #ffffff;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.footerBar h4 {
  font-size: larger;
  font-variant: small-caps;
  padding-bottom: 10px;
  
}

.footerBar li {
  list-style: none;
 
}

.social ul {
  display: flex;
  

}
.social ul li {
  
  width: 65px;

}
.social a img {
  
  width: 100%;
}

.address {
  padding-top: 30px;
  margin-bottom: 10px;
}

.contacts {
  padding-top: 30px;
  margin-bottom: 10px;
}
.contacts div {
  display: flex;
}
.contacts div img {
  width: 25px;
}
.social {
  padding-top: 30px;
  margin-bottom: 10px;
}

.socialTitle
{
  text-align: center;
}