.cards-bierres {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: fuchsia;
}

.bierre {
    display: flex;
    flex: 0 1 24%;

}

.image-bierre-produit {
    width: 15%;
}

.centered {
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 55%;
}

.texte-bierre {
    display: flex;
    flex-direction: column;
}